/.DS_Store
/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp.csproj
/Library
/Logs
/RollABall.sln
/Temp
/UserSettings
/bullethell.unitypackage
/obj
/Assets/_Heathen Engineering
/Assets/RPG&Fantasy Mobile GUI
/Assets/SpecialSkillsEffectsPack